# Ignore the node_modules directory
node_modules/

# Ignore the src directory
src/

# Ignore IDE specific files
.eslintrc.json/
.prettierrc.json/
jsconfig.json/
package-lock.json/
package.json/
webpack.config.js/
