.results{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
}
@media(max-width: 992px)  {
    .results{
        justify-content: center;
    }
  }
  @media(max-width: 400px)  {
    .results{
        gap: 7px;
    }
  }