.settingCard{
	position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    margin: 20px;
	cursor: default;
}
.settingCard_img{
    width: 50%;
    margin: 0 auto 30px;
}
input {
    display: block;
    margin-bottom: 30px;
    margin: 0 auto;
}
.settingCard_text{
    text-align: center;
    font-family: var(--font_2);
    font-weight: 700;
    color: var(--main-color);
    font-size: var(--fz_1920);
    text-transform: uppercase;
}
.svgIcon{
    fill: white;
}
/* range */
.input-block{
	position: relative;
}
#volumeInput {
	width: 100%;
  	margin: 0 auto;
  	-webkit-appearance: none;
}

#volumeInput+ label {
	position: absolute;
	width: 50px;
	height: 50px;
	background-color: #fff;
	background-color: transparent;;
	top: -46px;
	left: 183px;
	text-align: center;
	color: white;
	font-family: var(--font_2);
	font-size: 20px;
	font-weight: 700;
}

#volumeInput:active {
	outline: none;
}

#volumeInput::-webkit-slider-runnable-track {
	animation: 0.2s;
	background-color: var(--main-color);
	border-radius: 4px;
	cursor: pointer;
	width: 100%;
	height: 7.5px;
}

#volumeInput::-webkit-slider-thumb {
	background: #ffffff;
	border-radius: 50%;
	border: 1px solid var(--main-color);
  	cursor: pointer;
	height: 25px;
	width: 25px;
	margin-top: -9px;
	-webkit-appearance: none;
}

#volumeInput:active::-webkit-slider-runnable-track {
	opacity: 0.8;
}
#volumeInput::-moz-range-track {
	animation: 0.2s;
	background-color: var(--main-color);
	border-radius: 4px;
	cursor: pointer;
	width: 100%;
	height: 7.5px;
}
#volumeInput::-moz-range-thumb {
	background: #ffffff;
	border-radius: 50%;
	border: 1px solid var(--main-color);
  	cursor: pointer;
	height: 50px;
	width: 50px;
}
#volumeInput::-ms-track {
	animation: 0.2s;
	background-color: var(--main-color);
	border-radius: 4px;
	cursor: pointer;
	width: 100%;
	height: 7.5px;
}
#volumeInput::-ms-thumb {
	background: #ffffff;
	border-radius: 50%;
	border: 1px solid var(--main-color);
  	cursor: pointer;
	height: 50px;
	width: 50px;
	margin: 0;
	box-sizing: border-box;
}
#volumeInput:active::-ms-fill-lower {
  background: var(--main-color);
}
#volumeInput:active::-ms-fill-upper {
  background: var(--main-color);
}
/* checkbox */
label {	margin: 0 auto;
	}
#timerCheckBox {	display: none;}
#timerCheckBox+label,
#timerCheckBox+label::before,
#timerCheckBox+label::after {
	-webkit-transition: all .2s;
	transition: all .2s;
}
#timerCheckBox+label {
	display: inline-block;
	position: relative;
	width: 130px;
	height: 50px;
	border-radius: 25px;
	cursor: pointer;
	left: 50%;
transform: translateX(-50%)
}
#timerCheckBox+label::before {
	display: block;
	content: attr(data-off-label);
	position: absolute;
	top: 15px;
	right: 20px;
	color: #fff;
	font-family: Arial, sans-serif;
	font-size: 18px;
}
#timerCheckBox+label::after {
	content: '';
	position: absolute;
	top: 3px;
	left: 2px;
	width: 44px;
	height: 44px;
	background-color: #fff;
	border-radius: 50%;
}
#timerCheckBox:checked+label::before {
	content: attr(data-on-label);
	left: 20px;
	right: auto;
	color: #fff;
}
#timerCheckBox:checked+label::after {
	left: 83px;
	background-color: #f7f7f7;
}

#timerCheckBox+label {	background-color: #ccc; }
#timerCheckBox+label::before {	color: white; }
#timerCheckBox:checked+label {	background-color: #3498db; }
#timerCheckBox:checked+label::before { color: #fff; }
#timerCheckBox+label { background-color: var(--main-color); }
#timerCheckBox:checked+label {	background-color: #1abc9c; }
@media(max-width: 1200px)  {
	.settingCard_img{
		width: 40%;
	}
	#timerCheckBox+label{
		width: 110px;
		height: 40px;
	}
	#timerCheckBox+label::after{
		width: 38px;
		height: 38px;
		top: 1px;
	}
	#timerCheckBox+label::before{
		top: 11px;
	}
	#timerCheckBox:checked+label::after{
		left: 70px;
	}
  }

@media(max-width: 992px)  {
	.settingCard_text{
		font-size: 20px;
	}
	.settingCard_img{
		width: 35%;
	}
	#timerCheckBox+label{
		width: 90px;
		height: 30px;
	}
	#timerCheckBox+label::after{
		width: 30px;
		height: 30px;
		top: 0px;
	}
	#timerCheckBox:checked+label::after{
		left: 59px;
	}
	#timerCheckBox+label::before{
		top: 6px;
		font-size: 16px;
	}
	#volumeInput+ label{
		left: 102px;
	}
	#volumeInput::-webkit-slider-thumb {
		height: 20px;
		width: 20px;
		margin-top: -7px;
	}
	#timerCheckBox+label::after{
		left: 0;
	}
  }


@media(max-width: 768px)  {
	.settingCard{
		margin: 0;
		box-sizing: border-box;
		padding: 0px 25px;
	}
	.settingCard_img{
		margin: 0 auto 15px;
	}
	#timerCheckBox+label{
		width: 80px;
	}
	#timerCheckBox:checked+label::after{
		left: 50px;
	}
	#volumeInput+ label{
		left: 78px;
	}
  }



@media(max-width: 576px)  {
	.settingCard{
		margin-bottom: 10px;
		padding: 0px 35px;
	}
	#volumeInput+ label{
		display: none;
	}
  }